@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f0fcfc;
}

body {
  font-size: 1.6rem;
}

p,
h1 {
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 20fr 1fr;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: stretch;
}

.site-panel {
  background-color: #ffffff;
}

.ornament__background {
  background: url(../assets/wheat.png) repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
}

.overlay {
  background: linear-gradient(#18191a, #40454a);
  width: 100%;
  height: 100%;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}
