@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

p,
h1 {
  margin: 0px;
  padding: 0px;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: 1.5fr 20fr 1fr;
  grid-template-columns: 1fr;
  justify-items: stretch;
  align-items: stretch;
}

.site-panel {
  background-color: #ffffff;
}

.ornament__background {
  background: url(../assets/wheat.png) repeat;
  background-size: auto;
  display: flex;
  flex-direction: column;
}

.overlay {
  background: linear-gradient(#18191a, #40454a);
  width: 100%;
  height: 100%;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

// libs overrides

// react-dates
.SingleDatePicker {
  height: 100%;
  background: transparent;
}

.DateInput_input.DateInput_input_1.DateInput_input__focused.DateInput_input__focused_2 {
  border-bottom: none;
}

.CalendarDay.CalendarDay_1.CalendarDay__default.CalendarDay__default_2.CalendarDay__selected {
  background: #2ebc4f;
  border: none;
}

#app
  > div
  > div
  > form.sc-htoDjs.bwpHsp
  > div:nth-child(3)
  > div
  > div
  > div
  > div
  > div.SingleDatePicker_picker.SingleDatePicker_picker_1.SingleDatePicker_picker__directionLeft.SingleDatePicker_picker__directionLeft_2
  > div
  > div
  > div
  > div.DayPicker_focusRegion.DayPicker_focusRegion_1
  > div:nth-child(3)
  > button {
  display: none;
  &::before {
    content: none;
  }
}
